---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Skills from '../components/Skills.astro'
import Projects from '../components/Projects.astro'
import Experience from '../components/Experience.astro'
---

<Layout
	title='Porfolio de Vicente Vásquez - Desarrollador y Programador Web con más de 3 años de experiencia.'
	description='Contrata a Vicente para crear tu aplicación web o móvil. Desarrollador Web, especializado en crear aplicaciones únicas.'
>
	<main class='px-4'>
		<!-- Inicio -->
		<SectionContainer id='inicio' class='py-10'>
			<figure class='flex items-center justify-center'>
				<img src='/hero.jpg' alt='Foto de Perfil Vicente' class='size-44 rounded-full' />
			</figure>
			<div class='flex flex-col items-center justify-center pt-4 text-gray-50'>
				<h1 class='text-center text-4xl font-bold'>Hola, Soy Vicente Vásquez</h1>
				<span
					class='animate-text-gradient inline-flex bg-gradient-to-r from-[#38b6ff] via-[#004aad] to-[#38b6ff] bg-[200%_auto] bg-clip-text pt-2 text-center text-3xl font-bold text-transparent'
				>
					Full Stack Developer
				</span>
			</div>
			<div class='pt-5 text-center'>
				<p class='text-gray-400'>
					+3 años de experiencia como Desarrollador Web especializado en React.js, JavaScript y Git,
					y con habilidades en diseño UI con Tailwind CSS. Comprometido con la calidad y eficiencia,
					me esfuerzo por mantener mis habilidades al día y superar expectativas en proyectos
					variados. Actualmente me encuentro en mi ultimo año de Ingenería en Informática.
				</p>
			</div>
			<div class='flex items-center justify-center space-x-5 py-7 text-lg'>
				<button
					class='rounded-full border-2 border-white bg-white px-5 py-3 font-bold hover:bg-transparent hover:text-white'
					>Contactame</button
				>
				<button
					class='rounded-full border-2 border-white px-5 py-3 font-bold text-white hover:bg-white hover:text-black'
					>Descargar CV</button
				>
			</div>
		</SectionContainer>

		<!-- Skills -->
		<SectionContainer id='skills'>
			<h1
				class='bg-gradient-to-t from-[#FFD700] to-[#FFA500] bg-clip-text text-center text-3xl font-bold text-transparent'
			>
				Skills
			</h1>
			<Skills />
		</SectionContainer>

		<!-- Proyectos -->
		<SectionContainer id='proyectos'>
			<h1
				class='bg-gradient-to-t from-[#FF8660] to-[#D5491D] bg-clip-text pb-10 text-center text-3xl font-bold text-transparent'
			>
				Proyectos
			</h1>
			<Projects />
		</SectionContainer>

		<!-- Experiencia -->
		<SectionContainer id='experiencia'>
			<h1
				class='bg-gradient-to-t from-[#5BADFF] to-[#1373D1] bg-clip-text text-center text-3xl font-bold text-transparent'
			>
				Experiencia
			</h1>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
