<header class='mx-auto flex w-full items-center justify-center py-7 text-lg text-gray-50'>
	<nav class='space-x-7'>
		<a href='#inicio' class='transition duration-500 ease-in-out hover:text-blue-600'>Inicio</a>
		<a href='#proyectos' class='transition duration-500 ease-in-out hover:text-blue-600'
			>Proyectos</a
		>
		<a href='#experiencia' class='transition duration-500 ease-in-out hover:text-blue-600'
			>Experiencia</a
		>
		<a href='#contacto' class='transition duration-500 ease-in-out hover:text-blue-600'>Contacto</a>
	</nav>
</header>
