<header class='mx-auto flex w-full items-center justify-center py-7 text-lg text-gray-50'>
	<nav class='[&>a]:px-3'>
		<a href='#inicio'>Inicio</a>
		<a href='#proyectos'>Proyectos</a>
		<a href='#experiencia'>Experiencia</a>
		<a href='#contacto'>Contacto</a>
	</nav>
</header>
