---
import Html from '../icons/Html.astro'
import Css from '../icons/Css.astro'
import JavaScript from '../icons/JavaScript.astro'
import React from '../icons/React.astro'
import Tailwind from '../icons/Tailwind.astro'
import NextJS from '../icons/NextJS.astro'
import NodeJS from '../icons/NodeJS.astro'
import Express from '../icons/Express.astro'
import Git from '../icons/Git.astro'
import AstroLogo from '../icons/AstroLogo.astro'
import Aws from '../icons/Aws.astro'
import Mongo from '../icons/Mongo.astro'
import MySql from '../icons/MySql.astro'
---

<article class='flex flex-col items-center justify-center'>
	<h1
		class='bg-gradient-to-t from-[#FFD700] to-[#FFA500] bg-clip-text text-center text-3xl font-bold text-transparent'
	>
		Skills
	</h1>
	<ul class='grid grid-cols-5 items-center justify-center gap-4 pt-8 lg:grid-cols-6'>
		<li class='size-8'><Html /></li>
		<li class='size-8'><Css /></li>
		<li class='size-8'><JavaScript /></li>
		<li class='size-8'><React /></li>
		<li class='size-8'><NextJS /></li>
		<li class='size-8'><NodeJS /></li>
		<li class='size-8'><Express /></li>
		<li class='size-8 pt-[6px]'><Tailwind /></li>
		<li class='size-8'><AstroLogo /></li>
		<li class='size-8'><Git /></li>
		<li class='size-8'><Aws /></li>
		<li class='size-8'><Mongo /></li>
		<li class='size-8'><MySql /></li>
	</ul>
</article>
